# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/easyslr?schema=public"

# NextAuth Config
NEXTAUTH_SECRET="your-32-character-secret-key"
NEXTAUTH_URL="http://localhost:3000"
